$font-text: "Noto Sans", "Open Sans", sans-seriff;
$colour-navy-blue: #022969;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-red-alert: #f70707;
$colour-red-dark: #781111;

$colour-gray: #918e8e;
$colour-off-gray: #e4e9f2;

$padding-card: 5%;

$bold-text-weight: 600;
